In [ ]:
from textblob import TextBlob

In [ ]:
def sentimentAnalyzer(string):
  print("String = ", string)
  tb = TextBlob(string)
  print(tb.sentiment)
  if tb.sentiment.polarity<0:
    print("Negative Sentiment \U0001F641")
  elif tb.sentiment.polarity>0:
    print("Positive Sentiment \U0001F642")
  else: 
    print("Neutral Sentiment \U0001F610")

  print(f"Subjectivity: {round(tb.sentiment.subjectivity,2)}")

sentimentAnalyzer("NLP is cool")
sentimentAnalyzer("NLP is cool and useful")
sentimentAnalyzer("NLP is hard")
sentimentAnalyzer("NLP is hard and useless")
sentimentAnalyzer("NLP is there")

String =  NLP is cool
Sentiment(polarity=0.35, subjectivity=0.65)
Positive Sentiment ðŸ™‚
Subjectivity: 0.65
String =  NLP is cool and useful
Sentiment(polarity=0.32499999999999996, subjectivity=0.325)
Positive Sentiment ðŸ™‚
Subjectivity: 0.33
String =  NLP is hard
Sentiment(polarity=-0.2916666666666667, subjectivity=0.5416666666666666)
Negative Sentiment ðŸ™
Subjectivity: 0.54
String =  NLP is hard and useless
Sentiment(polarity=-0.39583333333333337, subjectivity=0.37083333333333335)
Negative Sentiment ðŸ™
Subjectivity: 0.37
String =  NLP is there
Sentiment(polarity=0.0, subjectivity=0.0)
Neutral Sentiment ðŸ˜
Subjectivity: 0.0

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
from textblob.classifiers import NaiveBayesClassifier

trainingSet = [("London is the capital of GB", "GB"), ("Oxford is a city in GB", "GB"), ("Dublin is the capital of Ireland", "IE"), ("Limerick is a city in Ireland","IE")]
testSet = [("University of Limerick", "IE"), ("University College Dublin", "IE"), ("Imperial College London", "GB"),("University of Oxford", "GB"), ("Ireland & GB", "GB")]

def naiveBayesClassifier(trainingSet, testSet):
  cl = NaiveBayesClassifier(trainingSet)
  correctClassification = 0
  for i in testSet:
    print(f"document:{i}      predicted class: {cl.classify(i[0])}")
    if i[1]== cl.classify(i[0]):
      correctClassification += 1
  print(f"Accuracy: {correctClassification/len(testSet)}")



naiveBayesClassifier(trainingSet, testSet)

document:('University of Limerick', 'IE')      predicted class: IE
document:('University College Dublin', 'IE')      predicted class: IE
document:('Imperial College London', 'GB')      predicted class: GB
document:('University of Oxford', 'GB')      predicted class: GB
document:('Ireland & GB', 'GB')      predicted class: IE
Accuracy: 0.8

In [ ]:
!wget https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv
filePath = "/content/bbc-text.csv"
import pandas as pd

with open(filePath) as f:
  df = pd.read_csv(f)

--2020-11-30 08:10:01--  https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.98.128, 142.250.97.128, 74.125.31.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.98.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5057493 (4.8M) [text/csv]
Saving to: â€˜bbc-text.csv.5â€™

bbc-text.csv.5      100%[===================>]   4.82M  --.-KB/s    in 0.03s

2020-11-30 08:10:01 (141 MB/s) - â€˜bbc-text.csv.5â€™ saved [5057493/5057493]

In [ ]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]

In [ ]:
display(df.head())
print("\n")
print(f"Number of sample documents in the dataset:{len(df)}")
print("\n")
print(df['category'].value_counts())

                                                text       category
0  tv future in the hands of viewers with home th...           tech
1  worldcom boss  left books alone  former worldc...       business
2  tigers wary of farrell  gamble  leicester say ...          sport
3  yeading face newcastle in fa cup premiership s...          sport
4  ocean s twelve raids box office ocean s twelve...  entertainment

Number of sample documents in the dataset:2225


sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [ ]:
df = df.set_index("text")

In [ ]:
TrainSize = round(0.8*len(df))
TestSize = len(df) - TrainSize
TrainingSet = df.iloc[0:TrainSize,:]
TestSet = df.iloc[0:TestSize,:]

In [ ]:
TrainingSet = TrainingSet.to_records()
TestSet = TestSet.to_records()

In [ ]:
cl = NaiveBayesClassifier(TrainingSet)
cl.accuracy(TestSet)

0.9910112359550561