In [54]:
from textblob import TextBlob

In [7]:
import pandas as pd
!pip install jellyfish
import jellyfish
!wget https://norvig.com/ngrams/count_1w.txt #unigram corpus
filePath1 = "/content/count_1w.txt"
unigrams_df = pd.read_csv(filePath1,sep='\t',header=None, names=['unigram','count'])
print(f'Number of unigrams: {unigrams_df.size}')
display(unigrams_df.head(100))

Requirement already satisfied: jellyfish in /usr/local/lib/python3.6/dist-packages (0.8.2)
--2020-11-17 09:10:10--  https://norvig.com/ngrams/count_1w.txt
Resolving norvig.com (norvig.com)... 158.106.138.13
Connecting to norvig.com (norvig.com)|158.106.138.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4956241 (4.7M) [text/plain]
Saving to: ‘count_1w.txt.1’

count_1w.txt.1      100%[===================>]   4.73M  21.6MB/s    in 0.2s

2020-11-17 09:10:11 (21.6 MB/s) - ‘count_1w.txt.1’ saved [4956241/4956241]

Number of unigrams: 666666

    unigram        count
0       the  23135851162
1        of  13151942776
2       and  12997637966
3        to  12136980858
4         a   9081174698
..      ...          ...
95     like    520585287
96  service    519537222
97        x    508609523
98     than    502609275
99     find    502043038

[100 rows x 2 columns]

In [52]:
def nonWordSpellingCorrection(nonWord):
  candidates = []
  for i in unigrams_df.unigram:
    try:
      if jellyfish.damerau_levenshtein_distance(nonWord, i)<2 and i is not None:
        candidates.append([i, unigrams_df.loc[unigrams_df.unigram==i]["count"].values[0], '{0:.8f}'.format(unigrams_df.loc[unigrams_df.unigram==i]["count"].values[0]/unigrams_df["count"].sum())])
    except TypeError:
      pass
  df = pd.DataFrame(candidates, columns =['word', 'frequency', 'P(word)']) 
  return df

df = nonWordSpellingCorrection("acress")
df

      word  frequency     P(word)
0   access  217986984  0.00037065
1   across   76597151  0.00013024
2    acres   14208905  0.00002416
3  actress    7010056  0.00001192
4   adress     984657  0.00000167
5   caress     590047  0.00000100
6    cress     279364  0.00000048
7   apress     202431  0.00000034
8    acess     171785  0.00000029

In [59]:
from textblob import Word
def Spell_Suggestions(string):
  w = Word(string)
  print(f"string={string}")
  print(f"candidates={w.spellcheck()}")
Spell_Suggestions("acress")

string=acress
candidates=[('across', 0.6851851851851852), ('access', 0.1728395061728395), ('acres', 0.1111111111111111), ('actress', 0.021604938271604937), ('caress', 0.009259259259259259)]

In [65]:
def correct_spelling(sentence):
  b = TextBlob(sentence)
  print(b.correct())

correct_spelling("I have goood speling!")

I have good spelling!